@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom fonts or theme tweaks */
:root {
    --font-sans: 'Montserrat','Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}